<div class="post panel panel-primary">
  <div class="panel-heading">
  	@<%= post.title %>
  	<button type="button" class="follow-button btn btn-info">Follow</button>
  </div>
  <div class="panel-body"><%= post.body %></div>
</div>