<div class="post panel panel-primary">
  <div class="panel-heading">
    <img class="img-rounded avatar" src=<%= post.image_url %>>
  	@<%= post.title %>
  	<button type="button" class="follow-button btn btn-info">Follow</button>
  </div>
  <div class="panel-body"><%= post.body %></div>
</div>
